@import url("base.css");
body{
    white-space: nowrap;
    overflow-x: hidden ;
    overflow-y: auto;
    height: 6.2em;
    background: linear-gradient(#cae8ff, #f2d6bd) 100% no-repeat;
}
h1{
    text-align: center;
    white-space: nowrap;
    color:indianred;
    font-size: 20px;

}
.main_controls>button {
    border-radius: 4px;
    background-color: #e23e2e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;

}
.main_controls {
    text-align: center;
    white-space: nowrap;
    height: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 1em
}
.page_controls>span {
    color: #849ccb;
    margin-left: 3.15em;
    width: auto;
    text-align: right;
    cursor: pointer;
}
.main_controls>button:hover,.page_controls>button:hover {
    text-shadow: #849ccb 0 -1px 0;
}

.main_controls>button img,.page_controls>button img {
    vertical-align: middle;
}

.main_controls>button.inactive {
    border-radius: 4px;
    background-color: #cb888e;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;
    cursor: default;
}

.main_controls>button.inactive:hover {
    text-shadow: none;
}

#monitor_page.inprogress {
    cursor: progress;
}

.loading {
    width: 100%;
}

.loading_spacer {
    height: 2.7em;
}

.loading_spacer td {
    background: url('../img/loader.gif')center 16px no-repeat;
}

.notification div {
    min-width: 10px;
}
